@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-stone-300 text-neutral-700;
  font-family: 'CALIBRI';
  src: url('../styles/Calibri_Regular.ttf');
}